body > div {
    font-family: Color Emoji, PingFang SC, system-ui, PingFangSC-Regular, Microsoft YaHei,
        Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif, Apple Braille;
}
#ml-root > div.ml-list.list > .ml-item > .message {
    padding-bottom: 0px;
}
#app > div.container > div.draggable-view__container.sidebar > nav > div > div.sidebar__upper > div.nav.sidebar__nav > span[aria-label^="小世界"] {
    display: none;
}
